# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
bot-jhon/venv/

# Environment Variables (IMPORTANT)
.env
*.env
bot-jhon/.env

# Logs
*.log
errors.log
bot-jhon/errors.log

# Binaries
ffmpeg.exe
bot-jhon/ffmpeg.exe

# OS
.DS_Store
Thumbs.db
